<footer class="page-footer">
 
    <!--Forms-->
 <!DOCTYPE html>
<html>
<body>

<h2> Submit This Forms</h2>

<form action="https://getform.io/f/apjjjnpa" method="POST">
   
     <div>
   
    <label for="name">Name:</label>
    <input type="text" id="name" name="name" required>
    
    </div>
    
    <br>
    <div>

    <label for="email">Email:</label>
    <input type="email" id="email" name="email" required>
    </div>
    
    <br>
 
 <div>
    <label for="Location">Location:</label>
    <input type="Location" id="Location" name="Location" required>
    
   
</div>
  <br>
  
  <div>
  
  <input type="reset" >
  
   </div>
   <br>
    <input type="submit" value="Submit">
</form>

</body>
</html>


 
 
 <!--a-->
 
 
 
 
 
 
 
 <div class="row">
      <div class="col-sm-8 col-sm-offset-2">
        {% include links.html %}
      </div>
    </div>
    {% if site.email != null and site.author != null %}
    <div class="row">
      <div class="col-sm-8 col-sm-offset-2">
        Copyright (c) 20{{ site.time | date: '%y' }} {{site.author}} -
        <a href="mailto:{{site.email}}">&lt;{{site.email}}&gt;</a>
      </div>
    </div>
    {% endif %}
  </center>
</footer>
